ion-content {
    --background : #1D5D9B;
}

.welcome-description {
    margin-top: 50px;
}

.title {
    color: #fff;
    width: 100%;
    font-size: 2rem;
}

.description {
    color: #fff;
    width: 100%;
    font-size: 0.85rem;
}

ion-card {
    --background: #fff;
    --color: #000;
}

ion-input {
    margin-bottom: 10px;
    margin-top: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}