<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size="12" class="welcome-description">
            <ion-text class="title"> Welcome! </ion-text>
          </ion-col>

          <ion-col size="12">
            <ion-text class="description"> 
                Get POS for your Restaurants, Retail and Stores 
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header> 
                        <ion-card-title> Login </ion-card-title> 
                        <ion-card-subtitle> Let’s Get Started! Grow together </ion-card-subtitle>
                    </ion-card-header>

                    
                    <ion-card-content>
                        <ion-input 
                            type="text"
                            pattern="text"
                            inputmode="text"
                            placeholder="Username"
                            [clearInput]="true"
                            fill="outline"
                            maxlength="18"
                            minlength="6"
                            mode="md"
                            required="required"
                        />

                        <ion-input 
                            type="password"
                            pattern="password"
                            inputmode="text"
                            placeholder="Password"
                            [clearInput]="true"
                            fill="outline"
                            maxlength="18"
                            minlength="6"
                            mode="md"
                            required="required"
                        />

                        <ion-button> LOGIN </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>